
h2 {
    text-align: left;
    margin: 0;
}


.Panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: var(--panel-max-width);

    text-align: center;

//padding: 15px;

    color: var(--on-background-color);
}

#logo {
    max-height: 100px;
    margin: 0;
}

.inputForm {
    padding: 15px;
}

.inputForm > button {
    margin-top: 20px;
}
