.NavBar {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title dropdown help";
    grid-area: navbar;
    -ms-grid-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 100%;
    color: white;
    background: #2C5364;
}
.NavBar > h1, .NavBar > img, .Dropdown, .Dropdown > h1 {
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.Dropdown {
    padding: 0;
    text-align: center;
    height: 100%;
}
.Dropdown > h1 {
    margin-top: 10px;
}
.Dropdown:hover > h1 > i {
    border: solid orange;
    border-width: 0 3px 3px 0;
}

.Dropdown:hover .Dropdown-content {
    display: inline-grid;
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.Dropdown > ul {
    display: none;
    grid-template-areas: "button1 button2 button3 button4 button5 button6";
    position: absolute;
    padding: 0 10px 10px;
    top: 50px;
    left: calc(50vw - 322px);
    list-style-type: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #2C5364;
    //width: 100vw;
    margin: 0;
    justify-content: center;
}
.Dropdown > ul > li > button {
    width: 100px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
#logo {
    grid-area: title;
    margin-left: 10px;
    margin-right: auto;
    height: 100%;
    cursor: not-allowed;
    //cursor: pointer;
}
#help {
    text-decoration: none;
    color: white;
    grid-area: help;
    margin-left: auto;
    margin-right: 10px;
    transition-duration: 0.6s;
    cursor: pointer;
}
#help-link {
    text-decoration: none;
    color: inherit;
}

#help:hover {
  color: orange;
}

#help-link:visited {
    color: inherit;
    text-decoration: none;
}