:root {
  --main-color: hsla(80,50%,30%);
  --attention-color: hsla(200,100%,30%);
  --background-color: hsla(360,0%,0%);
  --text-color: hsla(360,0%,80%);
  --panel-max-width: 400px;
}

body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
}

input {
  padding: 5px;
  margin: 5px 0;
  max-width: var(--panel-max-width);

  color: var(--text-color);
  font-size: 12pt;

  background-color: var(--background-color);
  border-radius: 5px;
  border: 2px solid var(text-color);
}

input:focus {
  outline: none;
  border: 2px solid var(--attention-color);
}

.Panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: var(--panel-max-width);

  border-radius: 10px;
  border: 2px solid var(--main-color);

  text-align: center;

  padding: 15px;

  color: var(--text-color);
  background-color: var(--background-color);
}
