button, .Button {
//transition-duration: 0.4s;
  background-color: #2C5364;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover, .Button:hover {
  color: orange;
  border: 1px solid orange;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-1px);
}

button:active, .Button:active {
  transform: translateY(1px);
  box-shadow: none;
}

h1 {
  cursor: default;
}

.App {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto;
  grid-template-areas:
          "navbar"
          "main";
  height: 100vh;
}

.Main {
  grid-area: main;
  min-height: 200px;
}

.Datatable {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  background: #0F2027;
  border-radius: 10px;
  padding: 10px;
  border-spacing: 0;
  cursor: default;
}

.Datatable > thead {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: default;
}

.Table-head {
  padding: 2px 10px;
  color: white;
}

.Table-item {
  padding: 2px 10px;
  color: white;
  cursor: pointer;
}

.Table-item:hover {
  color: orange;
  background: #2C5364;
}

.Table-id {
  cursor: default;
}

.Table-id:hover {
  color: white;
  background: #0f2027;
}

.align-right {
  text-align: right;
}

#New-button {
  height: 25px;
  width: 150px;
}

.Delete-button {
  height: 100%;
}

#loading {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
}
